* {
    margin: auto;
    background-color: rgb(243, 240, 240);
}
body{
    height: 100%;
}
.button {
    background-color:rgb(255, 123, 176);
    color: white;
    padding: 16px; 
    font-size: 16px;
    border: none;
}
  
  
.nav {
    position: flex;
    display: inline-block;
}
  
  
.content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    flex: 1 0 auto;
}
  
  
.content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.content a:hover {
    background-color: #ddd;
}
  
  
.nav:hover .content {
    display: block;
}
  
  
.nav:hover .button {
    background-color: #575757;
}



.header{
    background-image: url('../img/secondbunny.jpg');
    margin: 0px 0px 0px 0px;
    height: 660px;
    background-size:auto;
    text-align: center;
    background-position: center;
    background-attachment: fixed;
    
}

.bunnies{
    font: normal 150px 'Cooper';
    color: rgb(255, 123, 176);

}


article{
    padding: 0px 30px;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-size: 25px;
    font-style: normal;
    
}
.headerar{
    font: normal 70px 'Arial';
    font-weight: 700;
    padding: 0px 0px 30px 0px;
    color: rgb(250, 169, 202);
}

.border{
    border: 7px solid rgb(250, 187, 197);
    margin: 30px;
    padding: 20px;
}


.radio{
    color: rgb(250, 169, 202);
    padding: 30px 0px 30px 0px;
    font: normal 50px 'Arial';

}
.radiokr{
    float: left;
    clear: none;
    margin: 10px 60px 60px 20px;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.minor{
    display: inline-block;
    
    width: 300px;
    height: auto;
    margin: 45px 0px;
}
.minilop{
    display: inline-block;
    width: 300px;
    height: auto;
    margin: 45px 0px;
}
.hohot{
    display: inline-block;
    width: 300px;
    height: auto;
    margin: 45px 0px;
}
.minirex{
    display: inline-block;
    width: 300px;
    height: auto;
    margin: 45px 0px;
}
.vislouhiy{
    display: inline-block;
    width: 300px;
    height: auto;
    margin: 45px 0px;
}
img{
    display: inline-block;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////KROLIKI          RADIO                              ////////*/

.b{
    color:rgb(248, 78, 146) ;
}

.main{
    font-size: 50px;
    font-weight: 500;
}
.rascheska{
    display: block;
    width: 1000px;
    height: auto;
    margin: auto;
    text-align: center;
}
.veterinar{
    display: block;
    width: 1000px;
    height: auto;
    margin: auto;
    text-align: center;
}
.nails{
    display: block;
    width: 1000px;
    height: auto;
    margin: auto;
    text-align: center;
}
.marginvnizu{
    margin: 0px 0px 45px 0px ;
}
.marginvverhu{
    margin: 45px 0px 0px 0px;
}


footer{
    flex: 1 0 auto;
    height: 300px;
    width: 100%;
    background-color: #575757;
    animation: footer-change;
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    text-align: center;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-size: 25px;
    font-style: normal;
    
}

.text{
    position: relative;
    top: 70px;
    background-color: #575757;
    animation: footer-change;
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    
}
.footer2{
    display: inline-block;
    position: relative;
    top: 150px;
    animation: footer-change;
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    color: #000;
    background-color: transparent;
    mix-blend-mode: multiply;
    text-decoration: none;
    list-style-type: none;
    cursor: default;
}
@keyframes footer-change {   
      0% {     
        background-color: pink;   
      }   
      50% {     
        background-color: rgb(250, 28, 154);   
      } 
      100% {
        background-color: rgb(80, 141, 247);
       }
}

.footer{

    @media (max-width: 768px) {
        height: 100px;
    }

    @media (min-width: 769px) and (max-width: 1024px) {
        height: 200px;
    }

    @media (min-width: 1025px) and (max-width: 1366px) {
        height: 300px;
    }

    @media (min-width: 1367px) and (max-width: 1600px) {
        height: 300px;
    }

    @media (min-width: 1601px) {
        height: 300px;
    }

}

.text{
    @media (max-width: 768px) {
        top: 25px;
    }

    @media (min-width: 769px) and (max-width: 1024px) {
        top: 50px;
    }

    @media (min-width: 1025px) and (max-width: 1366px) {
        top: 70px;
    }

    @media (min-width: 1367px) and (max-width: 1600px) {
        top: 100px;
    }

    @media (min-width: 1601px) {
        top: 100px;
    }
}


.rascheska{
    @media (max-width: 768px) {
       width: 500px;
       height: auto;
    }

    @media (min-width: 769px) and (max-width: 1024px) {
        width: 700px;
        height: auto;
    }

    @media (min-width: 1025px) and (max-width: 1366px) {
        width: 1000px;
        height: auto;
    }

    @media (min-width: 1367px) and (max-width: 1600px) {
        width: 1000px;
       height: auto;
    }

    @media (min-width: 1601px) {
        width: 1100px;
       height: auto;
    }
}

.veterinar{
    @media (max-width: 768px) {
        width: 500px;
        height: auto;
     }
 
     @media (min-width: 769px) and (max-width: 1024px) {
         width: 700px;
         height: auto;
     }
 
     @media (min-width: 1025px) and (max-width: 1366px) {
         width: 1000px;
         height: auto;
     }
 
     @media (min-width: 1367px) and (max-width: 1600px) {
         width: 1000px;
        height: auto;
     }
 
     @media (min-width: 1601px) {
         width: 1100px;
        height: auto;
     }
}


.nails{
    @media (max-width: 768px) {
        width: 500px;
        height: auto;
     }
 
     @media (min-width: 769px) and (max-width: 1024px) {
         width: 700px;
         height: auto;
     }
 
     @media (min-width: 1025px) and (max-width: 1366px) {
         width: 1000px;
         height: auto;
     }
 
     @media (min-width: 1367px) and (max-width: 1600px) {
         width: 1000px;
        height: auto;
     }
 
     @media (min-width: 1601px) {
         width: 1100px;
        height: auto;
     }
}

.adaptazia{
    @media (max-width: 768px) {
        margin: 10px 0px 60px 20px;
    }

    @media (min-width: 769px) and (max-width: 1024px) {
        margin: 10px 0px 60px 20px;
    }

    @media (min-width: 1025px) and (max-width: 1366px) {
        margin: 10px 60px 60px 20px;
    }

    @media (min-width: 1367px) and (max-width: 1600px) {
        margin: 10px 60px 60px 20px;
    }

    @media (min-width: 1601px) {
        margin: 10px 60px 60px 20px;
    }
}


.footer2{
    @media (max-width: 768px) {
        top: 30px;
    }

    @media (min-width: 769px) and (max-width: 1024px) {
        top: 100px;
    }

    @media (min-width: 1025px) and (max-width: 1366px) {
        top: 150px;
    }

    @media (min-width: 1367px) and (max-width: 1600px) {
        top: 150px;
    }

    @media (min-width: 1601px) {
        top: 150px;
    }
}